﻿<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid sonepar-header">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:">
                <img alt="Sonepar" src="Content/logo.png">
            </a>
        </div>
        <div class="nav navbar-nav">
            <ul class="nav navbar-nav" ng-show="ctrl.ready">
                <li><a ui-sref-active="active" ui-sref="users">Users</a></li>
                <li><a ui-sref-active="active" ui-sref="groups">Groups</a></li>
                <li><a ui-sref-active="active" ui-sref="teams" ng-show="ctrl.enableTeams">Teams</a></li>
                <li><a ui-sref-active="active" ui-sref="plans" ng-show="ctrl.enablePlans">Plans</a></li>
                <li><a ui-sref-active="active" ui-sref="workspaces" ng-show="ctrl.enableWorkspaces">SharePoint Workspaces</a></li>
                <li><a ui-sref-active="active" ui-sref="logs" ng-click="ctrl.read()">Logs<span class="small" ng-if="ctrl.unreadFeedbacks"> ({{ctrl.unreadFeedbacks}})</span></a></li>
            </ul>
        </div>
        <div class="navbar-text center"><span title="v2.0.8" class="toolbox-title">Office365 Administration toolbox</span></div>
        <div class="navbar-text navbar-right">
            <button class="no-animate btn btn-default" ng-mouseenter="shift=$event.shiftKey" ng-mouseleave="shift=false" ng-show="ctrl.showLogin" ng-click="shift ? ctrl.logout() : ctrl.login()">{{shift ? "Logout" : "Login"}} </button>
            <span class="no-animate" ng-show="ctrl.ready">{{ctrl.Profile.given_name}} {{ctrl.Profile.family_name}}</span>
            <span ng-show="ctrl.isLoading && ctrl.isLoggedInAad" class="no-animate loader loader-fast">Connecting</span>
            <span ng-show="ctrl.isLoggedInAad && !ctrl.isLoading && ctrl.noRight" class="no-animate warning">The connected user has no right, please logout</span>
            <button class="no-animate btn btn-default" ng-show="!ctrl.showLogin && (ctrl.ready|| ctrl.noRight)" ng-click="ctrl.logout()">Logout</button>
        </div>
    </div>
</nav>
    <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img alt="Sonepar" src="Content/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" ui-sref-active="active" ui-sref="users">Users</a></li>
                <li class="nav-item"><a class="nav-link" ui-sref-active="active" ui-sref="groups">Groups</a></li>
                <li class="nav-item"><a class="nav-link" ui-sref-active="active" ui-sref="teams" ng-show="ctrl.enableTeams">Teams</a></li>
                <li class="nav-item"><a class="nav-link" ui-sref-active="active" ui-sref="plans" ng-show="ctrl.enablePlans">Plans</a></li>
                <li class="nav-item"><a class="nav-link" ui-sref-active="active" ui-sref="workspaces" ng-show="ctrl.enableWorkspaces">Workspaces</a></li>
                <li class="nav-item"><a class="nav-link" ui-sref-active="active" ui-sref="logs" ng-click="ctrl.read()">Logs<span class="small" ng-if="ctrl.unreadFeedbacks"> ({{ctrl.unreadFeedbacks}})</span></a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="no-animate btn btn-default" ng-mouseenter="shift=$event.shiftKey" ng-mouseleave="shift=false" ng-show="ctrl.showLogin" ng-click="shift ? ctrl.logout() : ctrl.login()">{{shift ? "Logout" : "Login"}} </button>
                <span class="no-animate" ng-show="ctrl.ready">{{ctrl.Profile.given_name}} {{ctrl.Profile.family_name}}</span>
                <span ng-show="ctrl.isLoading && ctrl.isLoggedInAad" class="no-animate loader loader-fast">Connecting</span>
                <span ng-show="ctrl.isLoggedInAad && !ctrl.isLoading && ctrl.noRight" class="no-animate warning">The connected user has no right, please logout</span>
                <button class="no-animate btn btn-default" ng-show="!ctrl.showLogin && (ctrl.ready|| ctrl.noRight)" ng-click="ctrl.logout()">Logout</button>
            </form>
        </div>
    </nav>-->