﻿<h3>Plans Management</h3>
<div class="row component planList">
    <div class="col-md-6">
        <div ng-if="ctrl.loading" class="loader blink">Loading office plans...</div>
        <div ng-if="ctrl.plans">
            <div class="form-inline">
                <div class="form-group ">
                    <label class="sr-only" for="search">Search a plan</label>
                    <div class="input-group">
                        <input id="search" type="search" ng-model="ctrl.filter" ng-model-options="{ updateOn: 'default blur', debounce: {blur:0, default:500 } }" class="form-control input-sm col-md-8" placeholder="Search a plan">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                    </div>
                </div>
                <button type="button" class="btn btn-default btn-sm pull-right" ng-click="ctrl.showCreateForm()" ng-show="!ctrl.isCreateMode">
                    Create a new plan <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
                <div class="voffset4">
                    <table class="table table-striped table-bordered scroll">
                        <thead>
                            <tr>
                                <th>Delete</th>
                                <th>Edit</th>
                                <th>Name</th>
                                <th>Country</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="plan in ctrl.plans | filter : ctrl.filter | orderBy: 'DisplayName' track by plan.Id" ng-class="{active:plan===ctrl.selectedPlan}">
                                <td class="text-center">
                                    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.tryDelete(plan)" ng-show="1">
                                        <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                                    </button>

                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.showEditForm(plan)">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                </td>
                                <td>{{plan.Name}}</td>
                                <td>{{plan.Country | uppercase}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.showMembersForm(plan)">
                                        Members <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.showOwnersForm(plan)">
                                        Owners <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <a id="edit"></a>
    <div ng-if="ctrl.isCreateMode" class="col-md-6">
        <h4>Create a plan</h4>
        <form ng-submit="ctrl.planForm.$valid&&ctrl.sendPlan()" name="ctrl.planForm">
            <div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="{{ctrl.planNamePlaceholder}}" ng-model="ctrl.dataPlan.Name" required>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <select id="country" class="form-control" name="country" ng-model="ctrl.dataPlan.Country" ng-options="string for string in (ctrl.userCountries)" required>
                        <option value=''>Select a country</option>
                    </select>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-12" for="Owner">Owner</label>
                    <div class="col-md-12"><user-picker ng-required="true" name="users" ng-model="ctrl.dataPlan.Owners" size="8" ng-model-options="{allowInvalid:true}"></user-picker></div>
                    <div class="col-md-12 bg-warning" ng-show="ctrl.planForm.users.$invalid">At least one owner is required</div>
                </div>
                <div class="form-group">
                    <label class="col-md-2" for="visibility">Visibility</label>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input ng-required="true" ng-model="ctrl.dataPlan.Visibility" type="radio" name="visibility" id="visibilityPrivate" value="Private">Private
                        </label>
                        <label class="radio-inline">
                            <input ng-required="true" ng-model="ctrl.dataPlan.Visibility" type="radio" name="visibility" id="visibilityPublic" value="Public">Public
                        </label>
                    </div>
                </div>
            </div>
            <div>
                <button uib-toolip="ctrl.errors" tooltip-class="white" ng-disabled="ctrl.saving" ng-click="submitted=true" type="submit" class="btn btn-primary btn-sm pull-right">
                    <span class="no-animate" ng-show="!ctrl.saving">Create Plan</span>
                    <span class="no-animate loader loader-fast" ng-show="ctrl.saving">Saving...</span>
                </button>
                <button type="button" class="btn btn-default btn-sm pull-right" ng-click="ctrl.hideCreateForm()">Cancel</button>
            </div>
        </form>
    </div>
    <div ng-if="ctrl.isEditPlanMode" class="col-md-6">
        <h4>Edit plan name</h4>
        <form ng-submit="ctrl.planEditForm.$valid&&ctrl.savePlan()" name="ctrl.planEditForm">
            <div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="{{ctrl.planNamePlaceholder}}" ng-model="ctrl.selectedPlan.Name" required>
                </div>
            </div>
            <div>
                <button uib-toolip="ctrl.errors" tooltip-class="white" ng-disabled="ctrl.saving" ng-click="submitted=true" type="submit" class="btn btn-primary btn-sm pull-right">
                    <span class="no-animate" ng-show="!ctrl.saving">Save</span>
                    <span class="no-animate loader loader-fast" ng-show="ctrl.saving">Saving...</span>
                </button>
                <button type="button" class="btn btn-default btn-sm pull-right" ng-click="ctrl.hideEditForm()">Cancel</button>
            </div>
        </form>
    </div>
    <div ng-show="ctrl.isMembersMode" class="col-md-6">
        <planmembers plan="ctrl.selectedPlan" on-saved="ctrl.isMemberMode=false"></planmembers>
    </div>
    <div ng-show="ctrl.isOwnersMode" class="col-md-6">
        <planowners plan="ctrl.selectedPlan" on-saved="ctrl.isOwnerMode=false"></planowners>
    </div>
</div>

